body{
    background-color: rgb(48, 179, 236);
}
.sam{
    padding: 40px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 800px;
    border-radius: 20px;
}





